body {
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 3.25rem;
  font-weight: bold;
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.75rem;
  font-weight: bold;
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.25rem;
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.75rem;
}
@media (max-width: 991.98px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.375rem;
}
@media (max-width: 991.98px) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-size: 1rem;
}
@media (max-width: 991.98px) {
  h6 {
    font-size: 0.875rem;
  }
}

p {
  font-size: 1rem;
}
@media (max-width: 991.98px) {
  p {
    font-size: 0.875rem;
  }
}

header .container {
  gap: 0.25rem 0.75rem;
}
header .container a {
  color: #464646;
  text-decoration: none;
  transition: color 0.3s ease;
}
header .container a:hover {
  color: #464646;
  color: #2A7AE4;
}
header .container .logo {
  display: flex;
  gap: 9px;
  font-weight: bold;
}
@media (min-width: 575.98px) {
  header .container .email-area {
    font-weight: bold;
  }
}

footer {
  padding: 2rem;
  background-color: #FFFFFF;
}
footer p {
  margin: 0;
  text-align: center;
}

#about {
  background-color: #EAF2FD;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
@media (max-width: 991.98px) {
  #about {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
#about h6 {
  margin-bottom: 1.25rem;
}

#main-banner .social-media-area {
  display: flex;
  gap: 2rem;
}
@media (max-width: 991.98px) {
  #main-banner .social-media-area {
    flex-direction: column;
    gap: 0.25rem;
  }
}
#main-banner .social-media-area a {
  color: #464646;
  text-decoration: none;
  transition: color 0.3s ease;
}
#main-banner .social-media-area a:hover {
  color: #2A7AE4;
}
#main-banner .social-media-area a:hover img {
  transform: rotate(45deg);
}
#main-banner .social-media-area a img {
  transition: transform 0.3s ease;
}
#main-banner .photo-area img {
  background-color: #FFFFFF;
  border-radius: 50%;
  max-width: 368px;
  max-height: 368px;
}

#skills,
#hobbies {
  padding-top: 64px;
  padding-bottom: 64px;
}
#skills .title,
#hobbies .title {
  text-align: center;
  margin-bottom: 32px;
}
#skills .cards-container,
#hobbies .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 32px;
  justify-items: center;
}
@media (max-width: 1399.98px) {
  #skills .cards-container,
  #hobbies .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 991.98px) {
  #skills .cards-container,
  #hobbies .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.98px) {
  #skills .cards-container,
  #hobbies .cards-container {
    display: flex;
  }
}
#skills .card,
#hobbies .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0;
  text-align: center;
  border: none;
  padding-top: 52px;
  padding-bottom: 52px;
}
#skills .card .card-img,
#hobbies .card .card-img {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
}
#skills .card p,
#hobbies .card p {
  margin-bottom: 0;
}/*# sourceMappingURL=index.css.map */