.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0;
}

.btn-outline-primary {
    color: $primary;
    border: 1px solid $primary;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $light;
}