@import '../variables';

header {
    position: sticky;
    top: 0;
    background: $light2;
    width: 100%;
    z-index: 1000;

    .container {
        gap: .25rem .75rem;

        a {
            color: $dark;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: $dark;
                color: $primary;
            }
        }

        .logo {
            display: flex;
            gap: 9px;
            font-weight: bold;
        }

        .email-area {
            @media (min-width: $xsMax) {
                font-weight: bold;
            }
        }
    }
}