#educational {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: $secondary;

    .title {
        text-align: center;
        margin-bottom: 32px;
    }

    .cards-container {
        display: flex;
        gap: 16px;

        @media (max-width: $mdMax) {
            flex-direction: column;
            align-items: center;
        }
    }

    .card {
        width: 100%;
        background-color: inherit;
        border-radius: 0;
        padding: 0;
        border: none;
        flex: 1 1 calc(33.333% - 16px);

        .card-img {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $light;
            border-radius: 0;
            padding: 78px 89px;
            width: 100%;
            margin-bottom: 8px;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;

                @media (max-width: $mdMax) {
                    width: 200px;
                }
            }
        }
    }
}