@import '../../variables';

#main-banner {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (max-width: $mdMax) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .social-media-area {
        display: flex;
        gap: 2rem;

        @media (max-width: $mdMax) {
            flex-direction: column;
            gap: .25rem;
        }

        a {
            color: $dark;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: $primary;

                img {
                    transform: rotate(45deg);
                }
            }

            img {
                transition: transform 0.3s ease;
            }
        }
    }

    .photo-area {
        img {
            background-color: $light;
            border-radius: 50%;
            max-width: 20rem;

            @media (max-width: $mdMax) {
                max-width: 15rem;
            }
        }
    }
}